<%= form_with(model: movement) do |form| %>
  <% if movement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movement.errors.count, "error") %> prohibited this movement from being saved:</h2>

      <ul>
        <% movement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="font-semibold my-3">
    <%= form.label :concept, class: 'block' %>
    <%= form.text_field :concept, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
  </div>

  <div class="font-semibold my-3">
    <%= form.label :description, class: 'block' %>
    <%= form.text_area :description, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
  </div>

  <div class="font-semibold my-3">
    <%= form.label :original_amount, class: 'block' %>
    <%= form.number_field :original_amount, step: 0.01, placeholder: '0.00', class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
  </div>

  <div class="font-semibold my-3">
    <%= form.label :original_currency, class: 'block' %>
    <%= form.select :original_currency, options_for_select(ApplicationHelper.all_currencies, movement.original_currency), {}, { :class => 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'} %>
  </div>

  <div class="font-semibold my-3">
    <%= form.label :movement_date, class: 'block' %>
    <%= form.date_field :movement_date, value: movement.movement_date || Date.today, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
  </div>

  <div class="font-semibold my-3">
    <%= form.label :settled_date, class: 'block' %>
    <%= form.date_field :settled_date, value: movement.settled_date || Date.today, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
  </div>

  <div class="font-semibold my-3">
    <%= form.label :asset_id, class: 'block' %>
    <%= form.select :asset_id, options_for_select(MovementsHelper.get_all_assets, movement.asset_id), {}, { :class => 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'} %>
  </div>

  <div class="my-3">
    <button class="w-full text-center py-3 rounded bg-blue-600 text-white hover:bg-green-dark focus:outline-none p-15">
    <%= form.submit %>
    </button>
  </div>
<% end %>
