<tr id="<%= dom_id asset %>">
  <td class="p-5">
    <%= asset.id %>
  </td>

  <td class="p-5">
    <%= asset.kind.titleize %>
  </td>

  <td class="p-5">
    <%= asset.country %>
  </td>

  <td class="p-5">
    <%= asset.currency %>
  </td>

  <td class="p-5">
    <%= asset.name %>
  </td>

  <% unless asset.description.blank? %>
    <td class="p-5">
      <%= asset.description %>
    </td>
  <% end %>

  <% if action_name != "show" && show_asset_link %>
    <td class="p-5">
      <%= link_to "Edit this asset", edit_asset_path(asset), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    </td>
  <% end %>
</tr>
